@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: fac;
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}

body {
    margin: 0px;
    background-color: rgba(151, 231, 182, 0.822);
}

header {
    background-image: linear-gradient(180deg, #3bd28c, #014e24);
    margin: 0px;
    padding-top: 10px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.308);
}

h1#titulo1 {
    text-align: center;
    font-family: 'Fjalla One';
    color: white;
    font-weight: lighter;
    font-size: 25px;
    margin: 10px 100px 10px 100px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.308)
}

p#slogan {
    text-align: center;
    margin: 20px 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.349);
}

nav#header > a {
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    transition-duration: .5s;
}

nav#header > a:hover {
    text-decoration:underline;
    background-color: #3bd28c;
    color: #016939;
}

main {
    background-color: white;
    max-width: 600px;
    margin: 0px auto;
    padding: 10px;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.151);
    border-radius: 0px 0px 10px 10px;
}

h1#titulomain {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0px;
    font-family: fac;
    color: #016939;
}

main > p {
    font-size: 13px;
    text-indent: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: #047200;
    font-weight: bold;
}

main > h2 {
    background-image:linear-gradient(90deg, rgba(159, 255, 183, 0.753), white);
    font-size: 17px;
    margin-left: 10px;
    margin-top: 0px;
    font-family: fac;
    color: #016939;
}

a.externo {
    color: #047200;
    font-weight: bold;
    text-decoration: none;
}

a.externo:hover {
    text-decoration: underline;
}

a.externo::after {
    content: '\00A0\1F517'
}

.android-png {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

img#Bugdroid {
    display: block;
    margin: auto;
}

main > iframe {
    margin: auto;
}

main > section {
    background-color: #91f7d077;
    max-width: 550px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.089);
}

h3 {
    background-color: #207424;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

section > p {
    font-size: 13px;
    text-indent: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.151);
}

picture.android-png {
    max-width: 100%;
}

picture img {
  width: 100%;
  height: auto;
  display: block;
}

footer {
    background-color: rgb(1, 80, 1);
    padding: 5px;
    text-align: center;
    margin: 20px 0px 0px 0px
}

footer > p {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
}

#rodape {
    font-weight: bolder;
    color: white;
}

a {
    text-decoration: none;
    color: #047200;
    font-weight: bold;
}

nav {
    padding: 10px;
}

ul {
    list-style-type: '\2714\00A0\00A0';
    font-size: 15px;
    columns: 2;
}

div.video {
    background-color: #207424;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}